

.card{
    height: 300px !important;
    color: white;

}
.body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main{
    flex: 1 0 auto;

}
.btn{
    background: rgb(93,93,93);
}
.card-title{
    text-align: center;
    /* background: rgb(93,93,93) ; */
}